<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!-- Targets -->
  <targets>
    <target xsi:type="File" name="fileTarget" fileName="logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" />
    <target xsi:type="Console" name="consoleTarget" layout="${longdate} ${level} ${message} ${exception}" />
  </targets>

  <!-- Rules -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="fileTarget,consoleTarget" />
  </rules>
</nlog>
